<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/Menu/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            
            <div class="collapse navbar-collapse navbar-modification" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active nav-brand">
                        <a class="nav-link " style="color: white;" href="#">K2L<span class="sr-only">(current)</span></a>
                    </li>
                    <li>
                        @Html.ActionLink("Trang chủ", "Index", "Home")
                    </li>
                    <li>
                        @Html.ActionLink("Thông tin", "About", "Home")
                    </li>

                    <!-- search box --- -->
                    <form class="form-inline my-2 my-lg-0 search-form-control">
                        <input class="form-control mr-sm-2" id="input-control" type="search" placeholder="Tìm kiếm" aria-label="Search">
                        <a type="button" class="btn btn-warning search-btn" href="@Url.Action("Search", "Menu")">
                            <svg class="bi bi-search" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M10.442 10.442a1 1 0 0 1 1.415 0l3.85 3.85a1 1 0 0 1-1.414 1.415l-3.85-3.85a1 1 0 0 1 0-1.415z" />
                                <path fill-rule="evenodd" d="M6.5 12a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11zM13 6.5a6.5 6.5 0 1 1-13 0 6.5 6.5 0 0 1 13 0z" />
                            </svg>
                        </a>
                    </form>
                    <!-- ---------------------------------- -->
                </ul>
                
                <!-- ----------------------------- -->
                </di>
        </nav>
    </header>
</body>
