@model FoodCourtSystem.Models.PaymentRequestModel
@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = "Pay";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int amount = ViewBag.Amount;
}

@if (Request.IsAuthenticated)
{
    <h3>Thanh toán cho tài khoản @User.Identity.GetUserName()</h3>
    <div class="row">
        <div class="col-md-8">
            <section id="loginForm">
                @using (Html.BeginForm("Pay", "ExternalPayment", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.Hidden("ID", DateTime.Now.Ticks.ToString())
                    @Html.Hidden("UserName", User.Identity.GetUserName())
                    <div class="form-group">
                        <div class="col-md-4">Số tiền: @amount</div>
                        <div class="col-md-6">
                            @Html.Hidden("Amount", amount)
                        </div>
                    </div>
                    @Html.Hidden("Info","Thanh toán")
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Thanh toán" class="btn btn-default" />
                        </div>
                    </div>
                }
            </section>
        </div>
    </div>
}